:root {
  --main-black: #212121;
  --primary-color: #2196f3;
  --secondary-color: #ffffff;
  --tertiary-color: #2f303a;
}

body {
  max-width: 100%;
  background: var(--secondary-color);
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
}

.header-block {
  background: #ffffff;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 46px;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: 50px;
  gap: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-black);
  text-decoration: none;
  margin-right: 93px;
}

.blue {
  color: var(--primary-color);
}

.white {
  color: var(--secondary-color);
}

.top-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-black);
}

.hover-link:hover,
.hover-link:active {
  color: var(--primary-color);
}

.btn-hover:hover {
  background-color: var(--primary-color);
}

.btn {
  height: 50px;
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondary-color);
  text-shadow: 1px 1px 1px #000000;
}

.btn-portfolio {
  height: 38.27px;
  width: 121px;
  border: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
}

.btn-portfolio-gap {
  gap: 8px;
}

.main-block {
  height: 600px;
  width: 1600px;
  background: var(--tertiary-color);
}

.main-block .btn {
  position: absolute;
  align-items: center;
  top: 60%;
  left: 50%;
}

.main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondary-color);
  padding: 200px 452px 280px 452px;
}

.data-display-flex {
  display: flex;
  justify-content: center;
}

.description-gap {
  gap: 30px;
}

.description-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.main-title-2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-black);
}

.main-img {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team-img {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-black);
  display: flex;
  flex-direction: column;
}

.team-name .role {
  font-weight: 400;
  color: #757575;
}

.team-name .name {
  margin-bottom: 10px;
}

.footer-data {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-block {
  background-color: var(--tertiary-color);
  height: 252px;
  width: 1600px;
}

.address-line {
  gap: 9px;
}

.list-style-none {
  list-style: none;
}
