:root {
  --main-black: #212121;
  --primary-color: #2196f3;
  --secondary-color: #ffffff;
}

body {
  max-width: 100%;
  background: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  display: flex;
}

.header-block {
  background: #ffffff;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--main-black);
  text-decoration: none;
  margin-right: 93px;
}

.logo span {
  color: #2196f3;
}

.top-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-black);
}

.header-title {
  display: flex;
  align-items: center;
  gap: 46px;
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 371px;
}

.logo:hover,
.top-title:hover,
.top-title:active,
.footer-contact:hover,
.footer-contact:active {
  color: #2196f3;
}

.button-1 {
  height: 50px;
  width: 200px;
  border-radius: 4px;
}

.button-1 span {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}

.button-1:hover {
  background-color: var(--primary-color);
}

.logo-2 {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-color);
}

.logo-2 span {
  color: #2196f3;
}

.main-block-1 {
  height: 600px;
  width: 1600px;
  background: #2f303a;
}

.main-title {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondary-color);
  padding: 200px 452px 280px 452px;
}

.footer-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-contact {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-color);
}

.footer-block {
  background-color: #2f303a;
  height: 252px;
  width: 1600px;
}
